* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    color: white;
    background: #081b29;
}
.header { 
    position: fixed;
    left: 0;
    top: 0 ;;
    width: 100%;
    padding: 20px 10% ;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0 ;
    height: 100%;
    width: 100%;
    animation: showright 1s ease forwards;
    animation-delay: .5s;
    background: #081b29;
}
.navbar a{ 
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}
.navbar a:hover,
.navbar a.active {
    color: #08abf0;
}
.slider{ 
    display: flex;
   align-items: center;
    height: 100vh;
    padding: 0 10%;
}
.slider-home{
    max-width: 650px;
}
.slider h1 {
    font-size: 43px;
    font-weight: 700;
    position: relative;
}
.slider-home h1::before{
     content: '';
     position: absolute;
     top: 0;
     right: 0 ;
     height: 100%;
     width: 100%;
     animation: showright 1s ease forwards;
     animation-delay: .5s;
     background: #081b29;
}
.slider h2 {
    color: #08abf0;
    font-size: 30px;
    font-weight: 750;
    line-height: 1.8;
}
.slider p {
    font-size: 19.5px;
    line-height: 1.5;
}
.media { 
    position: absolute;
    bottom: 50px;
    width: 200px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.media a { 
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 3px solid  #08abf0 ;
    border-radius: 50%;
    font-size: 30px;
    color: #08abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
} 
.media a:hover{
    color: #081b29;
}
.media a::before{
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #08abf0;
    z-index: -3;
    transition: .5s;
}
.media a:hover::before {
    width: 100%;
}
 @keyframes showright {
    100% {
        width: 0;
    }
  }
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
   /* CSS */
   .slider-home{
    margin-top: 15px;
   }
   .slider h1 {
    font-size: 25px;
   }
   .slider h2 {
    font-size: 17px;
    line-height: 1.8;
   }
   .slider p {
    font-size: 15px;
   }
   .media {
    bottom: 30px;
   }
   .media a {
    width: 45px;
    height: 45px;
    font-size: 25px;
   }
}
